<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noir Threads</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/dark-theme.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Noir Threads</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/shop.html">Shop</a></li>
                <li><a href="../pages/cart.html">Cart</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/checkout.html">Checkout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>